<div class="main">
  <div class="sidebar clearfix">
    <div class="people-list" id="people-list">
      <ul class="list">
        <li class="clearfix" ng-repeat="user in users" ng-click="startConversation(user.name)">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />
          <div class="about">
            <div class="name">{{ user.name }}</div>
            <div class="status" ng-class="{'online': user.status == 'online', 'offline': user.status == 'offline'}">
              {{ user.status }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div> <!-- end container -->

  <div class="chat">
    <div class="chat-header clearfix">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />

      <div class="chat-about">
        <div class="chat-with" ng-hide="seeConversations">Chat with {{recipient}}</div>
        <div class="chat-with" ng-show="seeConversations">Conversation with {{recipient}}</div>
      </div>
      <div>
        <a class="float-right" ng-show="seeConversations" ng-click="startConversation(recipient)">Chat with {{recipient}}</a>
        <a class="float-right" ng-show="conversate" ng-click="seeConversation(recipient)">Get previous conversations with {{recipient}}</a>
      </div>
    </div> <!-- end chat-header -->

    <div class="chat-history" ng-hide="seeConversations">
      <ul>
        <li class="clearfix" ng-repeat="c in chatMessages">
          <span class="message-data-name">
            {{c.from}}
          </span>
          <div class="message">
            {{c.content}}
          </div>
        </li>
      </ul>
    </div> <!-- end chat-history -->

    <div class="chat-history" ng-show="seeConversations">
      <ul>
        <li class="clearfix" ng-repeat="c in conversationMessages">
          <span class="message-data-name">
            {{c.from}}
          </span>
          <div class="message">
            {{c.content}}
          </div>
        </li>
      </ul>
    </div> <!-- end chat-history -->

    <div class="chat-message clearfix" ng-show="conversate">
      <textarea ng-model="message" placeholder ="Type your message" rows="3"></textarea>
      <button ng-click="send(message, recipient)">Send</button>
    </div> <!-- end chat-message -->
  </div> <!-- end chat -->
</div>

<!--<li>-->
<!--<div class="message-data">-->
<!--<span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>-->
<!--<span class="message-data-time">10:12 AM, Today</span>-->
<!--</div>-->
<!--<div class="message my-message">-->
<!--Are we meeting today? Project has been already finished and I have results to show you.-->
<!--</div>-->
<!--</li>



